# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [510]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [511]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [512]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [513]:
# Calculate the total budget
total_budget = school_data_complete["budget"].sum()
print(total_budget)

82932329558

In [514]:
# Calculate the average (mean) math score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [515]:
# Calculate the average (mean) reading score
average_reading_score =school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [516]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_cnt = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_per = passing_math_cnt / float(student_count) * 100
passing_math_per

74.9808526933878

In [517]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_cnt =len(school_data_complete[school_data_complete["reading_score"] >= 70])
passing_reading_per =passing_reading_cnt / student_count * 100

In [518]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  student_count * 100
overall_passing_rate

65.17232575950983

In [519]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
totalSchools = school_data_complete["school_name"].nunique()
totalStudents = school_data_complete["Student ID"].nunique()
totalBudg = school_data["budget"].sum()
AvgMathScore = school_data_complete["math_score"].mean()
passingMath = len(school_data_complete[school_data_complete["math_score"] >= 70])
PerPassingMath= AvgMathScore/totalStudents *100
passingReading = len(school_data_complete[school_data_complete["reading_score"] >= 70])
perPassingReading = passingReading / totalStudents * 100
avgReadingScore =school_data_complete["reading_score"].mean()
perOverallPassingRate = (AvgMathScore + avgReadingScore) / 2

district_summary =  pd.DataFrame({
    "Total Schools": [totalSchools],
    "Total Students": [totalStudents],
    "Total Budget": [totalBudg],
    "Average Math Score": [AvgMathScore],
    "Average Reading Score": [avgReadingScore],
    "% Passing Math": [PerPassingMath],
    "% Passing Reading": [perPassingReading],
    "% Overall Passing Rate": [perOverallPassingRate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,0.201648,85.805463,80.431606

## School Summary

In [520]:
# Use the code provided to select the school type
grouped_school_df = school_data_complete.groupby(["school_name"])
schoolType = grouped_school_df["type"].first()

In [521]:
# Calculate the total student count
totalStudents = grouped_school_df["Student ID"].count()

In [522]:
# Calculate the total school budget and per capita spending
per_sch_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
totalSchoolBudget = grouped_school_df["budget"].first()
perStudentBudget = totalSchoolBudget / totalStudents
per_sch_capita = per_sch_budget / totalStudents

In [523]:
# Calculate the average test scores
avgSchPassingMath = grouped_school_df["math_score"].mean()
avgSchPassingReading = grouped_school_df["reading_score"].mean()

In [524]:
# Calculate the number of schools with math scores of 70 or higher
sch_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()

In [525]:
# Calculate the number of schools with reading scores of 70 or higher
sch_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()

In [526]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

In [527]:
# Use the provided code to calculate the passing rates
#passing_math_count = school_data_complete[(school_data_complete["math_score"] > 70)].count()["student_name"]
#passing_math_percentage = passingMath / totalStudents * 100
#avg_math_score=grouped_school_df["math_score"].mean()
#passing_reading_count = school_data_complete[(school_data_complete["reading_score"] > 70)].count()["student_name"]
#passing_reading_percentage = passing_reading_count / float(student_count) * 100
#avg_reading_score = grouped_school_df["reading_score"].mean()
#perOverallPassingRate  = passing_math_percentage/passing_reading_percentage * 2
sch_passing_math = school_data_complete[(school_data_complete["math_score"] > 70)]
sch_passing_reading = school_data_complete[(school_data_complete["reading_score"] > 70)]
per_sch_passing_math = sch_passing_math.groupby(["school_name"]).count()["student_name"] / totalStudents * 100
per_sch_passing_reading = sch_passing_reading.groupby(["school_name"]).count()["student_name"] / totalStudents * 100
overall_passing_rate = (per_sch_passing_math + per_sch_passing_reading) / 2

In [528]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
#Now, let's clean this up


sch_summaryDF = pd.DataFrame({"School Type": schoolType,
      "Total Students": totalStudents,
      "Total School Budget": totalSchoolBudget,
      "Per Student Budget": perStudentBudget,
      "Average Math Score": AvgMathScore,
      "Average Reading Score": avgReadingScore,
      "% Passing Math": per_sch_passing_math,
      "% Passing Reading": perPassingReading,
      "% Overall Passing Rate": perOverallPassingRate})


sch_summaryDF["Total School Budget"] = sch_summaryDF["Total School Budget"].map("${:,.2f}".format)
sch_summaryDF["Per Student Budget"] = sch_summaryDF["Per Student Budget"].map("${:,.2f}".format)

## Highest-Performing Schools (by % Overall Passing)

In [529]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
Top_schools = sch_summaryDF.sort_values(["% Overall Passing Rate"], ascending=False)
Top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.985371,81.87784,64.630225,85.805463,80.431606
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.87784,89.558665,85.805463,80.431606
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.87784,63.750424,85.805463,80.431606
Ford High School,District,2739,"$1,763,916.00",$644.00,78.985371,81.87784,65.753925,85.805463,80.431606
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.87784,89.713896,85.805463,80.431606

## Bottom Performing Schools (By % Overall Passing)

In [530]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = sch_summaryDF.sort_values(["% Overall Passing Rate"], ascending=False)
bottom_schools.tail(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,78.985371,81.87784,64.066017,85.805463,80.431606
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,78.985371,81.87784,89.892107,85.805463,80.431606
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,78.985371,81.87784,90.214067,85.805463,80.431606
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,78.985371,81.87784,90.932983,85.805463,80.431606
Wright High School,Charter,1800,"$1,049,400.00",$583.00,78.985371,81.87784,90.277778,85.805463,80.431606

## Math Scores by Grade

In [531]:

# Separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group each grade's data by school and take the mean
ninth_graders_by_school = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_by_school = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_by_school = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_by_school = twelfth_graders.groupby(["school_name"]).mean()

# Combine each grade's math scores into a single DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_by_school["math_score"],
    "10th": tenth_graders_by_school["math_score"],
    "11th": eleventh_graders_by_school["math_score"],
    "12th": twelfth_graders_by_school["math_score"]
}).transpose()

# Set the index name to "school_name"
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

school_name,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School
9th,77.083676,83.094697,76.403037,77.361345,82.044010,77.438495,83.787402,77.027251,77.187857,83.625455,76.859966,83.420755,83.590022,83.085578,83.264706
10th,76.996772,83.154506,76.539974,77.672316,84.229064,77.337408,83.429825,75.908735,76.691117,83.372000,76.612500,82.917411,83.087886,83.724422,84.010288
11th,77.515588,82.765560,76.884344,76.918058,83.842105,77.136029,85.000000,76.446602,77.491653,84.328125,76.395626,83.383495,83.498795,83.195326,83.836782
12th,76.492218,83.277487,77.151369,76.179963,83.356164,77.186567,82.855422,77.225641,76.863248,84.121547,77.690748,83.778976,83.497041,83.035794,83.644986

## Reading Score by Grade

In [532]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_by_school = ninth_graders.groupby(["school_name"]).mean(numeric_only=True)
tenth_graders_by_school = tenth_graders.groupby(["school_name"]).mean(numeric_only=True)
eleventh_graders_by_school = eleventh_graders.groupby(["school_name"]).mean(numeric_only=True)
twelfth_graders_by_school = twelfth_graders.groupby(["school_name"]).mean(numeric_only=True)

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders["reading_score"]
tenth_grader_reading_scores = tenth_graders["reading_score"]
eleventh_grader_reading_scores = eleventh_graders["reading_score"]
twelfth_grader_reading_scores = twelfth_graders["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_by_school["reading_score"],
    "10th": tenth_graders_by_school["reading_score"],
    "11th": eleventh_graders_by_school["reading_score"],
    "12th": twelfth_graders_by_school["reading_score"]
}).transpose()

# Minor data wrangling

reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

school_name,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School
9th,81.303155,83.676136,81.198598,80.632653,83.369193,80.866860,83.677165,81.290284,81.260714,83.807273,80.993127,84.122642,83.728850,83.939778,83.833333
10th,80.907183,84.253219,81.408912,81.262712,83.706897,80.660147,83.324561,81.512386,80.773431,83.612000,80.629808,83.441964,84.254157,84.021452,83.812757
11th,80.945643,83.788382,80.640339,80.403642,84.288089,81.396140,83.815534,81.417476,80.616027,84.335938,80.864811,84.373786,83.585542,83.764608,84.156322
12th,80.912451,84.287958,81.384863,80.662338,84.013699,80.857143,84.698795,80.305983,81.227564,84.591160,80.376426,82.781671,83.831361,84.317673,84.073171

## Scores by School Spending

In [533]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [534]:
# Create a copy of the school summary since it has the "Per Student Budget" 
sch_spending_df = sch_summaryDF.copy()

In [535]:
# Use `pd.cut` to categorize spending based on the bins.
sch_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_sch_capita, spending_bins, labels= group_names)
spending_math_scores = sch_summaryDF.groupby([ perStudentBudget]).mean(numeric_only=True)["Average Math Score"]
spending_reading_scores = sch_summaryDF.groupby([perStudentBudget]).mean(numeric_only=True)["Average Reading Score"]
spending_passing_math = sch_summaryDF.groupby([perStudentBudget]).mean(numeric_only=True)["% Passing Math"]
spending_passing_reading = sch_summaryDF.groupby([perStudentBudget]).mean(numeric_only=True)["% Passing Reading"]

In [536]:
spending_summary_df = pd.DataFrame({"Average Math Score" : spending_math_scores,
                                 "Average Reading Score": spending_reading_scores,
                                 "% Passing Math": spending_passing_math,
                                 "% Passing Reading": spending_passing_reading,
                                 "% Overall Passing Rate": overall_passing_rate})

In [541]:
#  Calculate averages for the desired columns. 
spending_math_scores = spending_summary_df.groupby([perStudentBudget]).mean(numeric_only=True)["Average Math Score"]
spending_reading_scores = spending_summary_df.groupby([perStudentBudget]).mean(numeric_only=True)["Average Reading Score"]
spending_passing_math = spending_summary_df.groupby([perStudentBudget]).mean(numeric_only=True)["% Passing Math"]
spending_passing_reading = spending_summary_df.groupby([perStudentBudget]).mean(numeric_only=True)["% Passing Reading"]
overall_passing_spending = spending_summary_df.groupby([perStudentBudget]).mean(numeric_only=True)["% Overall Passing Rate"]

In [547]:
# Assemble into DataFrame
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].astype(float).map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].astype(float).map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].astype(float).map("{:.2f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].astype(float).map("{:.2f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing Rate"].astype(float).map("{:.2f}".format)


# Display results
spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,% Overall Passing
578.0,79.0,81.9,90.93,85.81,NaN,nan
581.0,79.0,81.9,90.63,85.81,NaN,nan
582.0,79.0,81.9,89.56,85.81,NaN,nan
583.0,79.0,81.9,90.28,85.81,NaN,nan
600.0,79.0,81.9,89.89,85.81,NaN,nan
609.0,79.0,81.9,91.68,85.81,NaN,nan
625.0,79.0,81.9,89.71,85.81,NaN,nan
628.0,79.0,81.9,64.63,85.81,NaN,nan
637.0,79.0,81.9,64.07,85.81,NaN,nan
638.0,79.0,81.9,90.21,85.81,NaN,nan
639.0,79.0,81.9,63.75,85.81,NaN,nan
644.0,79.0,81.9,65.75,85.81,NaN,nan
650.0,79.0,81.9,63.85,85.81,NaN,nan
652.0,79.0,81.9,64.75,85.81,NaN,nan
655.0,79.0,81.9,63.32,85.81,NaN,nan
Bailey High School,nan,nan,nan,nan,71.965434,71.97
Cabrera High School,nan,nan,nan,nan,91.711518,91.71
Figueroa High School,nan,nan,nan,nan,71.091896,71.09
Ford High School,nan,nan,nan,nan,71.631982,71.63
Griffin High School,nan,nan,nan,nan,91.553134,91.55
Hernandez High School,nan,nan,nan,nan,71.467098,71.47
Holden High School,nan,nan,nan,nan,91.686183,91.69
Huang High School,nan,nan,nan,nan,71.066164,71.07
Johnson High School,nan,nan,nan,nan,71.067003,71.07
Pena High School,nan,nan,nan,nan,91.943867,91.94
Rodriguez High School,nan,nan,nan,nan,70.905226,70.91
Shelton High School,nan,nan,nan,nan,91.254969,91.25
Thomas High School,nan,nan,nan,nan,91.559633,91.56
Wilson High School,nan,nan,nan,nan,92.093736,92.09
Wright High School,nan,nan,nan,nan,91.861111,91.86

## Scores by School Size

In [570]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_bins_labels = ['Small(<999)','Medium (1000-1999)','Large (2000-5001)']
cut_size_cate_ = pd.cut( sch_summaryDF['Total Students'],size_bins, labels= size_bins_labels)

In [574]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

sch_summaryDF["School Size"] = pd.cut(sch_summaryDF["Total Students"], bins=size_bins, labels=size_bins_labels)
sch_summaryDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.985371,81.87784,64.630225,85.805463,80.431606,Large (2000-5001)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.87784,89.558665,85.805463,80.431606,Medium (1000-1999)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.87784,63.750424,85.805463,80.431606,Large (2000-5001)
Ford High School,District,2739,"$1,763,916.00",$644.00,78.985371,81.87784,65.753925,85.805463,80.431606,Large (2000-5001)
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.87784,89.713896,85.805463,80.431606,Medium (1000-1999)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,78.985371,81.87784,64.746494,85.805463,80.431606,Large (2000-5001)
Holden High School,Charter,427,"$248,087.00",$581.00,78.985371,81.87784,90.632319,85.805463,80.431606,Small(<999)
Huang High School,District,2917,"$1,910,635.00",$655.00,78.985371,81.87784,63.318478,85.805463,80.431606,Large (2000-5001)
Johnson High School,District,4761,"$3,094,650.00",$650.00,78.985371,81.87784,63.852132,85.805463,80.431606,Large (2000-5001)
Pena High School,Charter,962,"$585,858.00",$609.00,78.985371,81.87784,91.683992,85.805463,80.431606,Small(<999)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,78.985371,81.87784,64.066017,85.805463,80.431606,Large (2000-5001)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,78.985371,81.87784,89.892107,85.805463,80.431606,Medium (1000-1999)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,78.985371,81.87784,90.214067,85.805463,80.431606,Medium (1000-1999)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,78.985371,81.87784,90.932983,85.805463,80.431606,Large (2000-5001)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,78.985371,81.87784,90.277778,85.805463,80.431606,Medium (1000-1999)

In [579]:
# Calculate averages for the desired columns. 
size_math_scores = sch_summaryDF.groupby(["School Size"]).mean(numeric_only=True)["Average Math Score"]
size_reading_scores = sch_summaryDF.groupby(["School Size"]).mean(numeric_only=True)["Average Reading Score"]
size_passing_math = sch_summaryDF.groupby(["School Size"]).mean(numeric_only=True)["% Passing Math"]
size_passing_reading = sch_summaryDF.groupby(["School Size"]).mean(numeric_only=True)["% Passing Reading"]
size_overall_passing = sch_summaryDF.groupby(["School Size"]).mean(numeric_only=True)["% Overall Passing Rate"]

In [582]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = size_summary = pd.DataFrame({"Average Math Score" : size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing Rate": overall_passing_rate})

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Charter,NaN,NaN,NaN,NaN,88.084345
District,NaN,NaN,NaN,NaN,75.053996
Large (2000-5001),78.985371,81.87784,67.631335,85.805463,NaN
Medium (1000-1999),78.985371,81.87784,89.931303,85.805463,NaN
Small(<999),78.985371,81.87784,91.158155,85.805463,NaN

## Scores by School Type

In [583]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = sch_summaryDF.groupby(["School Type"]).mean(numeric_only=True)["Average Math Score"]
type_reading_scores = sch_summaryDF.groupby(["School Type"]).mean(numeric_only=True)["Average Reading Score"]
type_passing_math = sch_summaryDF.groupby(["School Type"]).mean(numeric_only=True)["% Passing Math"]
type_passing_reading = sch_summaryDF.groupby(["School Type"]).mean(numeric_only=True)["% Passing Reading"]
overall_passing_rate = (type_passing_math + type_passing_reading) / 2

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = overall_passing_rate["% Overall Passing Rate"]

KeyError: 'Average Math Score'

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = type_summary = pd.DataFrame({"Average Math Score" : type_math_scores,
                             "Average Reading Score": type_reading_scores,
                             "% Passing Math": type_passing_math,
                             "% Passing Reading": type_passing_reading,
                             "% Overall Passing Rate": overall_passing_rate})

# Display results
type_summary